@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('@/assets/fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Slab Medium'), local('Roboto-Slab-Medium'), url('@/assets/fonts/Roboto-Slab-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url('@/assets/fonts/Source-Code-Pro-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url('@/assets/fonts/Pacifico-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 400;
	src: local('OpenDyslexic Regular'), local('OpenDyslexic-Regular'), url('@/assets/fonts/OpenDyslexic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Oxanium';
	font-style: normal;
	font-weight: 400;
	src: local('Oxanium Regular'), local('Oxanium-Regular'), url('@/assets/fonts/Oxanium-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Regular'), local('Lobster-Regular'), url('@/assets/fonts/Lobster-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	src: local('Indie Flower Regular'), local('IndieFlower-Regular'), url('@/assets/fonts/Indie-Flower-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Rubik Mono One';
	font-style: normal;
	font-weight: 400;
	src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'), url('@/assets/fonts/Rubik-Mono-One-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

::-webkit-search-cancel-button {
	appearance: none;
	-webkit-appearance: none;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>');
}

.ascenseur {
	scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
	scrollbar-width: thin;
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

b,
strong {
    font-weight: 700;
}

[v-cloak] {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

#app,
main {
	width: 100%;
    height: 100%;
}

input[type="text"],
input[type="search"],
textarea {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4rem;
    width: 100%;
    background: #fff;
    color: #001d1d;
	z-index: 100;
}

#conteneur-header {
	display: flex;
	justify-content: space-between;
    padding: 0 2rem;
    margin: auto;
    width: 100%;
	max-width: 1200px;
}

#conteneur-header .conteneur {
	display: flex;
	align-items: center;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
	vertical-align: middle;
}

#titre {
	font-family: 'HKGrotesk-Black', sans-serif;
	font-size: 2rem;
    line-height: 4rem;
    vertical-align: middle;
	margin-left: 2rem;
	display: inline-block;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 0.8rem;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#conteneur-parametres {
    height: 4rem;
	width: 4rem;
    background: #fff;
	text-align: center;
	line-height: 4rem;
	cursor: pointer;
}

#conteneur-parametres i {
	font-size: 24px;
}

/* Outils
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#outils {
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-start;
	padding: 0 2rem;
	width: 100%;
	max-width: 1200px;
	height: 4rem;
	margin: auto;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}

#outils::-webkit-scrollbar {
	display: none;
}

#outils .outils {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	height: 4rem;
	border-right: 0;
}

#outils .outils.texte,
#outils .outils.image,
#outils .outils.forme,
#outils .outils + .communs {
	padding-left: 1rem;
	margin-left: 1rem;
	border-left: 1px solid #ddd;
}

#outils .outils.texte,
#outils .outils.image,
#outils .outils.forme {
	padding-right: 2rem;
}

.outils .outil {
	font-size: 24px;
	margin-right: 1.5rem;
	cursor: pointer;
}

.outils .outil:last-child {
	margin-right: 0;
}

.outils .outil.desactive {
	color: #aaa;
	cursor: default;
}

.outils .outil.active {
	color: #f39c12;
}

.outils .outil.supprimer {
	color: #ff6259;
}

.outils .outil.couleur {
	font-size: 0;
}

.outils .outil.sans-curseur {
	cursor: default;
	margin-right: 0.7rem;
}

.outils input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	padding: 0;
	font: inherit;
	color: #00ced1;
	opacity: 0.8;
	background: #ddd;
	box-sizing: border-box;
	transition: opacity 0.2s;
	cursor: pointer;
	width: 120px;
	height: 14px;
}

.outils select:focus,
.outils input[type="range"]:focus {
	border: 1px solid #001d1d;
}

.outils input[type="range"]::-webkit-slider-runnable-track {
	height: 100%;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.outils input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 14px;
	height: inherit;
	border: none;
	border-radius: 0;
	background: currentColor;
}

.outils select {
	padding: 0 30px 0 10px;
    line-height: 1.5;
	border: 1px solid #ddd;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	border-radius: 4px;
	margin-right: 1.5rem;
}

.outils input[type="color"] {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.outils input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.outils input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
}

.outils input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.outils input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
}

.outils input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

.outils .filtre {
	margin-right: 0.7rem;
	white-space: nowrap;
}

.outils.vide {
	display: block;
	width: 100%;
	margin-right: 0!important;
	padding-right: 0!important;
	border-right: 0!important;
	font-weight: 400;
}

.outils.vide span {
	display: block;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}

.outils.historique + .vide {
	width: calc(100% - 2rem);
	margin-left: 2rem;
}

.outils .centrerh {
	transform: rotate(90deg);
}

/* Menu flottant
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#modifier-format,
#ajouter {
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	z-index: 2;
	background: #00ced1;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
}

#modifier-format {
	font-size: 25px;
	top: 2rem;
	left: 2rem;
}

#ajouter {
	font-size: 30px;
	bottom: 2rem;
	right: 2rem;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#ajouter.ouvert {
	transform: rotate(45deg);
}

#texte,
#objets,
#image,
#fond,
#fichier {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	visibility: hidden;
	right: 2.5rem;
	bottom: 2.5rem;
	z-index: 2;
	cursor: pointer;
}

#texte .icone,
#objets .icone,
#image .icone,
#fond .icone,
#fichier .icone {
	width: 4rem;
	height: 4rem;
	line-height: calc(4rem - 4px);
	font-size: 24px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	color: #00ced1;
	border: 2px solid #00ced1;
}

#texte label,
#objets label,
#image label,
#fond label,
#fichier label:not(.icone) {
	padding: 4px 10px;
	background: rgba(255, 255, 255, 0.8);
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin-right: 0.7rem;
	border-radius: 4px;
	box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

#texte.ouvert,
#objets.ouvert,
#image.ouvert,
#fond.ouvert,
#fichier.ouvert {
	visibility: visible;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#texte.ouvert {
	bottom: 8rem;
}

#objets.ouvert {
	bottom: 13rem;
}

#image.ouvert {
	bottom: 18rem;
}

#fond.ouvert {
	bottom: 18rem;
}

#fichier.ouvert {
	bottom: 23rem;
}

/* Editeur
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main #editeur {
	position: absolute;
	top: 8rem;
	left: 0;
	right: 0;
	bottom: 0;
    width: 100%;
    height: calc(100% - 8rem);
    overflow: hidden;
	background: #777;
}

#conteneur-editeur {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
    position: relative;
    width: 100%;
    height: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#conteneur-canvas {
    text-align: center;
    width: 100%;
	touch-action: none;
}

#canvas {
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.12);
    -webkit-touch-callout: none;
	touch-action: none;
}

.canvas-container {
	margin: auto;
	touch-action: none;
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	text-transform: uppercase;
}

.modale header .fermer {
	vertical-align: top;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
	font-size: 0;
}

.modale .conteneur.chargement {
	overflow: hidden;
}

.modale .conteneur p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur label {
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.15;
}

.modale .conteneur select,
.modale .conteneur input[type="text"] {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	margin: 0 auto 20px;
	text-align: left;
}

.modale .conteneur textarea:focus,
.modale .conteneur select:focus,
.modale .conteneur input[type="text"]:focus {
	border-color: #001d1d!important;
}

.modale .conteneur select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	padding-right: 30px;
}

.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	transition: all ease-in 0.1s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modale .conteneur .bouton:hover {
	color: #fff;
	background: #001d1d;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.modale .bouton.large:last-child {
	margin-bottom: 0;
}

.modale .bouton.rouge {
	color: #fff;
	background: #ff6259;
}

.modale .bouton.rouge:hover {
	background: #d70b00;
}

.modale .conteneur .bouton.desactive {
	cursor: default;
	color: #001d1d;
	background: #aaa;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

.modale .conteneur .actions {
	text-align: center;
}

.modale .conteneur .actions .bouton:first-child {
    margin-right: 20px;
}

.modale .conteneur .actions .bouton:last-child {
    margin-right: 0;
}

.modale .separateur {
    position: relative;
    margin: 2rem 25% 2rem;
    text-align: center;
    width: 50%;
}

.modale .separateur:before {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.modale .separateur span {
    position: relative;
    margin: 0;
    font-size: 16px;
    z-index: 2;
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
    background-color: #fff;
}

.modale label.bouton {
	text-align: center;
	margin-bottom: 0;
}

.modale input[type=search] {
    display: block;
    font-weight: 400;
    font-size: 16px;
	width: 100%;
    border: 1px solid #ddd;
    padding: 7px 15px;
	line-height: 1.5;
    margin: auto;
    text-align: left;
	border-radius: 4px;
}

.modale textarea {
	max-width: 100%;
	width: 100%;
	height: 120px;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	background: #fff;
	border: 1px solid #ddd;
	resize: none;
	border-radius: 4px;
	padding: 7px 15px;
	margin-bottom: 20px;
}

.modale .bouton-secondaire {
    display: inline-block;
    font-size: 3.6rem;
    cursor: pointer;
    color: #00ced1;
    margin-top: 0;
	width: auto!important;
    margin-left: 0.5rem;
    height: 4rem!important;
}

.modale .rechercher {
    display: flex;
}

.modale .recherche .resultats {
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
}

.modale .recherche .resultats .item {
    float: left;
    margin: 0;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.modale .recherche .resultats .item img {
    display: block;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.modale .recherche .navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #001d1d;
    margin-top: 0.5rem;
    cursor: pointer;
}

.modale .recherche .navigation span.invisible {
    visibility: hidden;
}

.modale .conteneur .bouton-radio {
	display: block;
	position: relative;
	padding-left: 3.2rem;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 1rem;
	line-height: 2.2rem;
	font-weight: 400;
}

.modale .conteneur .bouton-radio:last-child {
	margin-bottom: 0;
}

.modale .conteneur .bouton-radio input {
	display: none;
}

.modale .conteneur .coche {
	position: absolute;
	top: 0;
	left: 0;
	height: 2.2rem;
	width: 2.2rem;
	background-color: #eee;
	border-radius: 50%;
}

.modale .conteneur .bouton-radio:hover input ~ .coche {
	background-color: #ccc;
}

.modale .conteneur .bouton-radio input:checked ~ .coche {
	background-color: #00ced1;
}

.modale .conteneur .coche:after {
	content: '';
	position: absolute;
	display: none;
}

.modale .conteneur .bouton-radio input:checked ~ .coche:after {
	display: block;
}

.modale .conteneur .bouton-radio .coche:after {
	top: 0.6rem;
	left: 0.6rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #fff;
}

#confirmation.modale,
#message.modale {
	max-width: 500px;
}

#confirmation.modale .conteneur,
#message.modale .conteneur {
	padding: 30px 25px;
	text-align: center;
}

#confirmation.modale .message,
#message.modale .message {
	font-size: 18px;
	line-height: 1.5;
}

#confirmation.modale .bouton,
#message.modale .bouton {
	margin-top: 20px;
}

#modale-fond {
	width: 800px;
	max-width: 90%;
	height: 485px;
	max-height: 90%;
}

#modale-fond span.bouton {
	width: 100%;
	text-align: center;
	background: #ff6259;
}

#modale-fond span.bouton:hover {
    background: #d70b00;
}

#modale-objets {
	width: 800px;
	max-width: 90%;
	height: 500px;
	max-height: 90%;
}

#modale-objets .conteneur {
	padding: 0;
}

#modale-objets .chargement-contenu {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#modale-objets .contenu {
	display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	padding: 1rem;
}

#modale-objets .contenu img {
	height: 10rem;
	padding: 1rem;
	cursor: pointer;
}

.modale .selecteur input[type="color"] {
	width: 72px;
	height: 72px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.modale .selecteur input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.modale .selecteur input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
}

.modale .selecteur input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.modale .selecteur input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
}

.modale .selecteur input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 100000;
}

#conteneur-chargement.transparent {
	background: transparent;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chargement-contenu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	display: flex;
    justify-content: center;
    align-items: center;
	background: #fff;
}

.chargement-contenu .chargement {
	display: inline-block;
	border: 0.7rem solid #ddd;
	border-top: 0.7rem solid #00ced1;
	border-radius: 50%;
	width: 4.5rem;
	height: 4.5rem;
	animation: rotation 0.7s linear infinite;
}
  
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 359px) {
	#modifier-format,
	#ajouter {
		font-size: 20px;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
	}
}

@media screen and (max-width: 399px) {
	.outils.vide span {
		font-size: 14px;
	}

	#modale-objets .contenu img {
		height: 8rem;
	}
}

@media screen and (max-width: 599px) {
	html {
		font-size: 50%;
	}

	.outils .outil {
		margin-right: 1rem;
	}

	.outils .filtre,
	.outils .outil.sans-curseur {
		margin-right: 0.5rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	html {
		font-size: 56.25%;
	}
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}
