<template>
	<div id="page">
		<div id="conteneur-chargement" :class="{'transparent': transparence}" v-if="chargement">
			<div id="chargement">
				<div class="spinner"><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /></div>
			</div>
		</div>

		<header id="header">
			<div id="conteneur-header">
				<div class="conteneur">
					<a :href="definirRacine()">
						<span id="logo" />
						<span id="titre">Digicard by La Digitale</span>
					</a>
				</div>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' ? 0 : -1" @click="ouvrirModaleCarte" @keydown.enter ="ouvrirModaleCarte">
					<i class="material-icons">settings</i>
				</span>
			</div>
		</header>

		<div id="outils">
			<div class="outils historique" v-if="objetAjoute">
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': historiqueDefaire.length === 0}" :title="$t('defaire')" @click="defaire" @keydown.enter="defaire"><i class="material-icons">undo</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': historiqueRefaire.length === 0}" :title="$t('refaire')" @click="refaire" @keydown.enter="refaire"><i class="material-icons">redo</i></span>
			</div>

			<div class="outils vide" v-if="vide">
				<span>{{ $t('composerCarte') }}</span>
			</div>

			<div class="outils communs" v-if="options">
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :title="$t('mettreDevant')" @click="mettreObjetDevant" @keydown.enter="mettreObjetDevant"><i class="material-icons">flip_to_front</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :title="$t('mettreDerriere')" @click="mettreObjetDerriere" @keydown.enter="mettreObjetDerriere"><i class="material-icons">flip_to_back</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" v-if="groupeObjets && !objetsGroupes" :title="$t('grouperObjets')" @click="grouperObjets" @keydown.enter="grouperObjets"><i class="material-icons">border_all</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" v-else-if="groupeObjets && objetsGroupes" :class="{'desactive': objetVerrouille}" :title="$t('degrouperObjets')" @click="degrouperObjets" @keydown.enter="degrouperObjets"><i class="material-icons">border_clear</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" v-if="!objetPasVerrouiller && !objetVerrouille" :title="$t('verrouiller')" @click="verrouillerObjet" @keydown.enter="verrouillerObjet"><i class="material-icons">lock_outline</i></span>
				<span class="outil active" role="button" :tabindex="modale === '' ? 0 : -1" v-if="!objetPasVerrouiller && objetVerrouille" :title="$t('deverrouiller')" @click="verrouillerObjet" @keydown.enter="verrouillerObjet"><i class="material-icons">lock_open</i></span>
				<span class="outil centrerh" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': objetVerrouille || (groupeObjets && !objetsGroupes)}" :title="$t('centrerHorizontalement')" @click="centrerObjetH" @keydown.enter="centrerObjetH"><i class="material-icons">vertical_align_center</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': objetVerrouille || (groupeObjets && !objetsGroupes)}" :title="$t('centrerVerticalement')" @click="centrerObjetV" @keydown.enter="centrerObjetV"><i class="material-icons">vertical_align_center</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" v-if="objetTexte" :title="$t('modifier')" @click="afficherModifierTexte" @keydown.enter="afficherModifierTexte"><i class="material-icons">edit</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': objetVerrouille}" :title="$t('dupliquer')" @click="dupliquerObjet" @keydown.enter="dupliquerObjet"><i class="material-icons">content_copy</i></span>
				<span class="outil supprimer" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': objetVerrouille}" :title="$t('supprimer')" @click="supprimerObjet" @keydown.enter="supprimerObjet"><i class="material-icons">delete</i></span>
			</div>

			<div class="outils texte" v-if="options && objetTexte && !objetVerrouille">
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': alignementTexte === 'left'}" :title="$t('alignerGauche')" @click="modifierAlignementTexte('left')" @keydown.enter="modifierAlignementTexte('left')"><i class="material-icons">format_align_left</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': alignementTexte === 'center'}" :title="$t('centrer')" @click="modifierAlignementTexte('center')" @keydown.enter="modifierAlignementTexte('center')"><i class="material-icons">format_align_center</i></span>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'desactive': alignementTexte === 'right'}" :title="$t('alignerDroite')" @click="modifierAlignementTexte('right')" @keydown.enter="modifierAlignementTexte('right')"><i class="material-icons">format_align_right</i></span>
				<span class="outil couleur" :title="$t('modifierCouleurTexte')">
					<input type="color" :value="couleurTexte" @change="modifierCouleurTexte($event.target.value)">
				</span>
				<select :value="policeTexte" :style="{'font-family': policeTexte}" @change="modifierPoliceTexte($event.target.value)">
					<option value="Roboto" :style="{'font-family': 'Roboto'}">Roboto</option>
					<option value="Roboto Slab" :style="{'font-family': 'Roboto Slab'}">Roboto Slab</option>
					<option value="Lobster" :style="{'font-family': 'Lobster'}">Lobster</option>
					<option value="Source Code Pro" :style="{'font-family': 'Source Code Pro'}">Source</option>
					<option value="OpenDyslexic" :style="{'font-family': 'OpenDyslexic'}">OpenDyslexic</option>
					<option value="Oxanium" :style="{'font-family': 'Oxanium'}">Oxanium</option>
					<option value="Pacifico" :style="{'font-family': 'Pacifico'}">Pacifico</option>
					<option value="Indie Flower" :style="{'font-family': 'Indie Flower'}">Indie Flower</option>
					<option value="Rubik Mono One" :style="{'font-family': 'Rubik Mono One'}">Rubik</option>
					<option value="HKGrotesk-Black" :style="{'font-family': 'HKGrotesk-Black'}">Grotesk</option>
				</select>
				<span class="outil" role="button" :tabindex="modale === '' ? 0 : -1" :title="$t('modiferOmbre')" @click="modifierOmbreTexte" @keydown.enter="modifierOmbreTexte"><i class="material-icons">text_fields</i></span>
			</div>

			<div class="outils image" v-if="options && objetImage && !objetVerrouille">
				<span class="outil sans-curseur"><i class="material-icons">photo_filter</i></span>
				<span class="filtre">{{ $t('filtrePhoto') }}</span>
				<select :value="filtreImage" @change="appliquerFiltre($event.target.value)">
					<option value="aucun">{{ $t('aucunFiltre') }}</option>
					<option value="grayscale">{{ $t('niveauxGris') }}</option>
					<option value="sepia">{{ $t('sepia') }}</option>
					<option value="vintage">{{ $t('vintage') }}</option>
					<option value="technicolor">{{ $t('technicolor') }}</option>
					<option value="polaroid">{{ $t('polaroid') }}</option>
					<option value="kodachrome">{{ $t('kodachrome') }}</option>
					<option value="blackandwhite">{{ $t('noirEtBlanc') }}</option>
					<option value="brownie">{{ $t('brownie') }}</option>
				</select>
			</div>

			<div class="outils forme" v-if="options && objetForme && !objetVerrouille">
				<span class="outil sans-curseur"><i class="material-icons">format_paint</i></span>
				<span class="outil couleur" :title="$t('modifierCouleurFond')">
					<input type="color" :value="couleurFond" @change="modifierCouleurFond($event.target.value)">
				</span>
				<span class="outil sans-curseur"><i class="material-icons">opacity</i></span>
				<span><i class="material-icons">remove</i></span>
				<input type="range" :min="10" :max="100" :step="10" :value="opaciteForme" :label="true" @change="modifierOpaciteForme" v-if="objetForme" />
				<span><i class="material-icons">add</i></span>
			</div>
		</div>

		<div id="editeur">
			<div id="conteneur-editeur">
				<div id="conteneur-canvas">
					<canvas id="canvas" />
					<span id="ajouter" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'ouvert': menuFlottant}" @click="ouvrirMenuFlottant" @keydown.enter="ouvrirMenuFlottant"><i class="material-icons">add</i></span>
					<div id="fichier" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'ouvert': menuFlottant}" @keydown.enter="activerInput('televerser')">
						<label for="televerser">{{ $t('fichier') }}</label>
						<label for="televerser" class="icone"><i class="material-icons">publish</i></label>
						<input id="televerser" type="file" @change="ajouterFichier($event.target.files[0], 'image')" accept="image/*" style="display: none;">
					</div>
					<div id="fond" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'ouvert': menuFlottant}" @click="afficherFond" @keydown.enter="afficherFond">
						<label>{{ $t('fond') }}</label>
						<span class="icone"><i class="material-icons">wallpaper</i></span>
					</div>
					<div id="objets" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'ouvert': menuFlottant}" @click="afficherObjets" @keydown.enter="afficherObjets">
						<label>{{ $t('objet') }}</label>
						<span class="icone"><i class="material-icons">category</i></span>
					</div>
					<div id="texte" role="button" :tabindex="modale === '' ? 0 : -1" :class="{'ouvert': menuFlottant}" @click="afficherTexte" @keydown.enter="afficherTexte">
						<label>{{ $t('texte') }}</label>
						<span class="icone"><i class="material-icons">title</i></span>
					</div>
					<span id="modifier-format" role="button" :tabindex="modale === '' ? 0 : -1" @click="ouvrirModaleFormat" @keydown.enter="ouvrirModaleFormat"><i class="material-icons">aspect_ratio</i></span>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'objets'">
			<div id="modale-objets" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterObjet') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur" :class="{'chargement': chargementObjets}" tabindex="-1">
					<div class="chargement-contenu" v-if="chargementObjets">
						<div class="chargement" />
					</div>
					<div class="contenu">
						<img role="button" tabindex="0" src="@/assets/img/formes/cercle.png" @click="ajouterForme('cercle')" @keydown.enter="ajouterForme('cercle')">
						<img role="button" tabindex="0" src="@/assets/img/formes/rectangle.png" @click="ajouterForme('rectangle')" @keydown.enter="ajouterForme('rectangle')">
						<img role="button" tabindex="0" src="@/assets/img/formes/triangle.png" @click="ajouterForme('triangle')" @keydown.enter="ajouterForme('triangle')">
						<img role="button" tabindex="0" src="@/assets/img/formes/hexagone.png" @click="ajouterForme('hexagone')" @keydown.enter="ajouterForme('hexagone')">
						<img role="button" tabindex="0" src="@/assets/img/formes/etoile.png" @click="ajouterForme('etoile')" @keydown.enter="ajouterForme('etoile')">
						<img role="button" tabindex="0" src="@/assets/img/formes/fleche-bleu.png" @click="ajouterObjet('fleche-bleu', 'formes')" @keydown.enter="ajouterObjet('fleche-bleu', 'formes')">
						<img role="button" tabindex="0" src="@/assets/img/formes/fleche-jaune.png" @click="ajouterObjet('fleche-jaune', 'formes')" @keydown.enter="ajouterObjet('fleche-jaune', 'formes')">
						<img role="button" tabindex="0" src="@/assets/img/formes/fleche-noire.png" @click="ajouterObjet('fleche-noire', 'formes')" @keydown.enter="ajouterObjet('fleche-noire', 'formes')">
						<img role="button" tabindex="0" src="@/assets/img/formes/fleche-rouge.png" @click="ajouterObjet('fleche-rouge', 'formes')" @keydown.enter="ajouterObjet('fleche-rouge', 'formes')">
						<img role="button" tabindex="0" src="@/assets/img/formes/fleche-verte.png" @click="ajouterObjet('fleche-verte', 'formes')" @keydown.enter="ajouterObjet('fleche-verte', 'formes')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle1_1.png" @click="ajouterObjet('bulle1_1', 'bulles')" @keydown.enter="ajouterObjet('bulle1_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle1_2.png" @click="ajouterObjet('bulle1_2', 'bulles')" @keydown.enter="ajouterObjet('bulle1_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle2_1.png" @click="ajouterObjet('bulle2_1', 'bulles')" @keydown.enter="ajouterObjet('bulle2_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle2_2.png" @click="ajouterObjet('bulle2_2', 'bulles')" @keydown.enter="ajouterObjet('bulle2_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle3_1.png" @click="ajouterObjet('bulle3_1', 'bulles')" @keydown.enter="ajouterObjet('bulle3_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle3_2.png" @click="ajouterObjet('bulle3_2', 'bulles')" @keydown.enter="ajouterObjet('bulle3_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle4_1.png" @click="ajouterObjet('bulle4_1', 'bulles')" @keydown.enter="ajouterObjet('bulle4_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle4_2.png" @click="ajouterObjet('bulle4_2', 'bulles')" @keydown.enter="ajouterObjet('bulle4_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle5_1.png" @click="ajouterObjet('bulle5_1', 'bulles')" @keydown.enter="ajouterObjet('bulle5_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle5_2.png" @click="ajouterObjet('bulle5_2', 'bulles')" @keydown.enter="ajouterObjet('bulle5_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle6_1.png" @click="ajouterObjet('bulle6_1', 'bulles')" @keydown.enter="ajouterObjet('bulle6_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle6_2.png" @click="ajouterObjet('bulle6_2', 'bulles')" @keydown.enter="ajouterObjet('bulle6_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle7_1.png" @click="ajouterObjet('bulle7_1', 'bulles')" @keydown.enter="ajouterObjet('bulle7_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle7_2.png" @click="ajouterObjet('bulle7_2', 'bulles')" @keydown.enter="ajouterObjet('bulle7_2', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle8_1.png" @click="ajouterObjet('bulle8_1', 'bulles')" @keydown.enter="ajouterObjet('bulle8_1', 'bulles')">
						<img role="button" tabindex="0" src="@/assets/img/bulles/bulle8_2.png" @click="ajouterObjet('bulle8_2', 'bulles')" @keydown.enter="ajouterObjet('bulle8_2', 'bulles')">
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'fond'">
			<div id="modale-fond" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterFond') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModaleFond" @keydown.enter="fermerModaleFond"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur" tabindex="-1">
					<div class="contenu">
						<label for="couleur">{{ $t('selectionnerCouleurFond') }}</label>
						<div class="selecteur">
							<input id="couleur" type="color" :value="couleurFondCanvas" @change="modifierCouleurFondCanvas($event.target.value)">
						</div>
						<div class="separateur" v-if="$parent.$parent.pixabayAPIKey !== ''"><span>{{ $t('ou') }}</span></div>
						<label v-if="$parent.$parent.pixabayAPIKey !== ''">{{ $t('rechercherImage') }}</label>
						<div class="recherche" v-if="$parent.$parent.pixabayAPIKey !== ''">
							<div class="rechercher">
								<input type="search" :value="requete" @input="requete = $event.target.value" @keydown.enter="rechercher(1)">
								<span role="button" tabindex="0" :title="$t('rechercher')" class="bouton-secondaire" @click="rechercher(1)" @keydown.enter="rechercher(1)"><i class="material-icons">search</i></span>
							</div>
							<div class="resultats" v-if="Object.keys(resultats).length > 0">
								<div class="item" role="button" tabindex="0" :data-w="resultat.previewWidth" :data-h="resultat.previewHeight" v-for="(resultat, index) in resultats.hits" @click="ajouterFond(resultat.previewURL.replace('_150', '_1280'), resultat.imageWidth, resultat.imageHeight)" @keydown.enter="ajouterFond(resultat.previewURL.replace('_150', '_1280'), resultat.imageWidth, resultat.imageHeight)" :key="'image_' + index">
									<img :src="resultat.previewURL" :alt="'Image_' + index">
								</div>
							</div>
							<div class="navigation" v-if="Object.keys(resultats).length > 0 && (page > 1 || page < (resultats.total / 16))">
								<span role="button" tabindex="0" :class="{'invisible': page < 2}" @click="modifierPage('precedente')" @keydown.enter="modifierPage('precedente')">{{ $t('pagePrecedente') }}</span>
								<span role="button" tabindex="0" :class="{'invisible': page >= (resultats.total / 16)}" @click="modifierPage('suivante')" @keydown.enter="modifierPage('suivante')">{{ $t('pageSuivante') }}</span>
							</div>
						</div>
						<div class="separateur"><span>{{ $t('ou') }}</span></div>
						<label>{{ $t('ajouterFichier') }}</label>
						<label for="selectionner" class="bouton" role="button" tabindex="0" @keydown.enter="activerInput('selectionner')">{{ $t('selectionnerImage') }}</label>
						<input id="selectionner" type="file" @change="ajouterFichier($event.target.files[0], 'fond')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
						<div class="separateur" v-if="canvas.backgroundImage !== null"><span>{{ $t('ou') }}</span></div>
						<label v-if="canvas.backgroundImage !== null">{{ $t('supprimerImageActuelle') }}</label>
						<span class="bouton" role="button" tabindex="0" @click="supprimerFond" @keydown.enter="supprimerFond" v-if="canvas.backgroundImage !== null">{{ $t('supprimerImage') }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'format'">
			<div id="modale-format" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('formatCarte') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur" tabindex="-1">
					<div class="contenu">
						<label>{{ $t('format') }}</label>
						<label class="bouton-radio" role="button" tabindex="0" @keydown.enter="activerInput('format-paysage')">{{ $t('paysage') }}
							<input id="format-paysage" type="radio" name="format" :checked="format === 'paysage'" @change="modifierFormat('paysage')">
							<span class="coche" />
						</label>
						<label class="bouton-radio" role="button" tabindex="0" @keydown.enter="activerInput('format-carre')">{{ $t('carre') }}
							<input id="format-carre" type="radio" name="format" :checked="format === 'carre'" @change="modifierFormat('carre')">
							<span class="coche" />
						</label>
						<label class="bouton-radio" role="button" tabindex="0" @keydown.enter="activerInput('format-portrait')">{{ $t('portrait') }}
							<input id="format-portrait" type="radio" name="format" :checked="format === 'portrait'" @change="modifierFormat('portrait')">
							<span class="coche" />
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'texte'">
			<div id="modale-texte" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterTexte') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModaleTexte" @keydown.enter="fermerModaleTexte"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur" tabindex="-1">
					<div class="contenu">
						<textarea v-model="texte" :placeholder="$t('monTexte')" />
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="ajouterTexte" @keydown.enter="ajouterTexte" v-if="objetTexteModifie === ''">{{ $t('ajouter') }}</span>
							<span class="bouton" role="button" tabindex="0" @click="modifierTexte" @keydown.enter="modifierTexte" v-else>{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'carte' || modale === 'confirmation'">
			<div class="modale" role="dialog" v-if="modale === 'carte'">
				<header>
					<span class="titre">{{ $t('actions') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur" tabindex="-1">
					<div class="contenu">
						<div class="langue">
							<span tabindex="0" role="button" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span tabindex="0" role="button" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span tabindex="0" role="button" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span id="telecharger" class="bouton large" :class="{'desactive': vide}" tabindex="0" role="button" @click="telechargerCarte" @keydown.enter="telechargerCarte" v-if="!iOS">{{ $t('telechargerCarte') }}</span>
						<span id="telecharger" class="bouton large" :class="{'desactive': vide}" tabindex="0" role="button" @click="telechargerCarte" @keydown.enter="telechargerCarte" v-else>{{ $t('afficherCarte') }}</span>
						<span id="exporter-donnees" class="bouton large" :class="{'desactive': vide}" tabindex="0" role="button" @click="exporter" @keydown.enter="exporter">{{ $t('exporterDonnees') }}</span>
						<label for="importer-donnees" id="importer" class="bouton large" tabindex="0" role="button" @keydown.enter="activerInput('importer-donnees')">{{ $t('importerDonnees') }}</label>
						<input id="importer-donnees" type="file" name="importer-donnees" style="display: none;" accept=".dgc" @change="importer">
						<span class="bouton large rouge" :class="{'desactive': vide}" role="button" tabindex="0" @click="afficherReinitialiserCanvas" @keydown.enter="afficherReinitialiserCanvas">{{ $t('reinitialiser') }}</span>
					</div>
				</div>
			</div>

			<div id="confirmation" class="modale" role="dialog" v-else-if="modale === 'confirmation'">
				<div class="conteneur">
					<div class="contenu">
						<div class="message" v-html="$t('confirmationReinitialiser')" />
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('non') }}</span>
							<span class="bouton" role="button" tabindex="0" @click="reinitialiserCanvas" @keydown.enter="reinitialiserCanvas">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { fabric } from 'fabric'
import { saveAs } from 'file-saver'
import imagesLoaded from 'imagesloaded'
import FontFaceObserver from 'fontfaceobserver'
import { markRaw } from 'vue'

export default {
	name: 'Editeur',
	data () {
		return {
			chargement: true,
			modale: '',
			vide: true,
			menuFlottant: false,
			chargementObjets: false,
			canvas: '',
			format: 'paysage',
			largeurCanvas: 1200,
			hauteurCanvas: 675,
			ratioExport: 1.6,
			objetVerrouille: false,
			objetsGroupes: false,
			objetPasVerrouiller: false,
			selectionObjets: false,
			groupeObjets: false,
			historiqueDefaire: [],
			historiqueRefaire: [],
			gestionHistorique: false,
			options: false,
			objetTexte: false,
			objetImage: false,
			objetForme: false,
			texte: '',
			objetTexteModifie: '',
			alignementTexte: 'left',
			couleurTexte: '#000000',
			selecteurPolice: '',
			policeTexte: 'Roboto',
			filtreImage: '',
			couleurFond: '#aaaaaa',
			opaciteForme: 100,
			transparence: false,
			requete: '',
			resultats: {},
			page: 1,
			couleurFondCanvas: '#ffffff',
			latence: '',
			objetAjoute: false,
			objetCopie: '',
			elementPrecedent: null
		}
	},
	computed: {
		mobile () {
			if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/Android/i)) {
				return true
			} else {
				return false
			}
		},
		iOS () {
			if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i)) {
				return true
			} else {
				return false
			}
		}
	},
	watch: {
		page: function (page) {
			this.rechercher(page)
		}
	},
	created () {
		this.id = this.$route.params.id
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digicard_lang', langue)
		}
	},
	mounted () {
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digicard_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digicard_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)

		const Roboto = new FontFaceObserver('Roboto')
		const RobotoSlab = new FontFaceObserver('Roboto Slab')
		const Lobster = new FontFaceObserver('Lobster')
		const SourceCodePro = new FontFaceObserver('Source Code Pro')
		const OpenDyslexic = new FontFaceObserver('OpenDyslexic')
		const Oxanium = new FontFaceObserver('Oxanium')
		const Pacifico = new FontFaceObserver('Pacifico')
		const IndieFlower = new FontFaceObserver('Indie Flower')
		const RubikMonoOne = new FontFaceObserver('Rubik Mono One')
		const Grotesk = new FontFaceObserver('HKGrotesk-Black')
		Promise.all([Roboto.load(), RobotoSlab.load(), Lobster.load(), SourceCodePro.load(), OpenDyslexic.load(), Oxanium.load(), Pacifico.load(), IndieFlower.load(), RubikMonoOne.load(), Grotesk.load()]).then(function () {
			this.chargerCanvas()
		}.bind(this))

		window.addEventListener('beforeunload', function (event) {
			event.preventDefault()
		})

		document.querySelector('#editeur').addEventListener('dragover', function (event) {
			event.preventDefault()
			event.stopPropagation()
		}, false)

		document.querySelector('#editeur').addEventListener('dragcenter', function (event) {
			event.preventDefault()
			event.stopPropagation()
		}, false)

		document.querySelector('#editeur').addEventListener('drop', function (event) {
			event.preventDefault()
			event.stopPropagation()
			if (event.dataTransfer.files && event.dataTransfer.files[0] && event.dataTransfer.files[0].type.substring(0, 5) === 'image') {
				this.ajouterFichier(event.dataTransfer.files[0], 'image')
			}
		}.bind(this), false)
	},
	beforeUnmount () {
		if (!this.mobile) {
			window.removeEventListener('resize', this.redimensionner, false)
		} else {
			window.removeEventListener('orientationchange', this.redimensionner, false)
		}
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.replace('#/creer', '')
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digicard_lang', langue)
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		chargerCanvas () {
			this.canvas = markRaw(new fabric.Canvas('canvas'))
			this.canvas.backgroundColor = this.couleurFondCanvas
			this.canvas.enableRetinaScaling = true
			this.canvas.preserveObjectStacking = true
			this.canvas.selectionColor = 'rgba(0, 206, 209, 0.3)'
			fabric.Object.NUM_FRACTION_DIGITS = 10
			fabric.Object.prototype.cornerSize = this.rem(1.5)
			fabric.Object.prototype.transparentCorners = false
			fabric.Object.prototype.borderColor = '#f7eb3d'
			fabric.Object.prototype.cornerStrokeColor = '#f7eb3d'
			fabric.Object.prototype.cornerColor = '#f7eb3d'
			fabric.Object.prototype.editingBorderColor = '#f7eb3d'
			fabric.Object.prototype.cornerStyle = 'circle'

			this.redimensionnerCanvas(this.canvas)
			this.ajouterEntreeHistorique()
			setTimeout(function () {
				this.chargement = false
			}.bind(this), 200)

			if (this.canvas.getObjects().length > 0) {
				this.vide = false
				this.objetAjoute = true
			}

			this.canvas.on('object:added', function () {
				this.vide = false
				this.objetAjoute = true
				// this.ajouterEntreeHistorique()
			}.bind(this))

			this.canvas.on('object:modified', function () {
				this.ajouterEntreeHistorique()
			}.bind(this))

			this.canvas.on('object:removed', function () {
				const objets = this.canvas.getObjects().length
				if (objets === 0 ) {
					this.vide = true
				} else {
					this.vide = false
					this.objetAjoute = true
				}
				this.ajouterEntreeHistorique()
			}.bind(this))

			this.canvas.on('selection:created', function () {
				this.options = true
				this.verifierObjet()
				this.selectionnerObjets()
			}.bind(this))
			
			this.canvas.on('selection:updated', function () {
				this.options = true
				this.verifierObjet()
				this.deselectionnerObjets()
				this.selectionnerObjets()
			}.bind(this))
			
			this.canvas.on('selection:cleared', function () {
				this.options = false
				this.deselectionnerObjets()
			}.bind(this))

			fabric.util.addListener(this.canvas.upperCanvasEl, 'dblclick', function (event) {
				const objet = this.canvas.findTarget(event)
				if (objet && objet.get('type') === 'text') {
					this.texte = objet.get('text')
					this.objetTexteModifie = objet
					this.afficherTexte()
				}
			}.bind(this))

			if (!this.mobile) {
				window.addEventListener('resize', this.redimensionner, false)
			} else {
				window.addEventListener('orientationchange', this.redimensionner, false)
			}

			document.addEventListener('keydown', this.gererClavier, false)
			document.querySelector('.lower-canvas').addEventListener('contextmenu', function (event) {
				event.preventDefault()
			})
			document.querySelector('.upper-canvas').addEventListener('contextmenu', function (event) {
				event.preventDefault()
			})
		},
		ouvrirModaleCarte () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'carte'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		ouvrirModaleFormat () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'format'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		modifierFormat (format) {
			if (format === 'paysage') {
				this.largeurCanvas = 1200
			} else if (format === 'carre') {
				this.largeurCanvas = 675
			} else if (format === 'portrait') {
				this.largeurCanvas = 380
			}
			this.hauteurCanvas = 675
			this.format = format
			this.redimensionnerCanvas(this.canvas)
			this.fermerModale()
		},
		ouvrirMenuFlottant () {
			this.menuFlottant = !this.menuFlottant
			this.elementPrecedent = document.querySelector('#ajouter')
		},
		afficherObjets () {
			this.menuFlottant = false
			this.modale = 'objets'
			this.chargementObjets = true
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
			imagesLoaded('#modale-objets .contenu', function () {
				setTimeout(function () {
					this.chargementObjets = false
				}.bind(this), 300)
			}.bind(this))
		},
		ajouterObjet (fichier, dossier) {
			const chemin = './static/img/' + dossier + '/' + fichier + '.svg'
			fabric.loadSVGFromURL(chemin, function (objets, options) {
				const objet = fabric.util.groupSVGElements(objets, options)
				const echelle = (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
				this.canvas.add(objet)
				objet.set({ left: 20 / echelle, top: 20 / echelle, isSVG: true })
				objet.scaleToHeight(this.rem(15))
				this.canvas.requestRenderAll()
				this.canvas.setActiveObject(objet)
				this.fermerModale()
				this.ajouterEntreeHistorique()
			}.bind(this))
		},
		ajouterForme (forme) {
			let objet, largeur, hauteur
			const echelle = (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
			const position = 20 / echelle
			const hexagone = [{ x: 850 / echelle, y: 75 / echelle }, { x: 958 / echelle, y: 137.5 / echelle }, { x: 958 / echelle, y: 262.5 / echelle }, { x: 850 / echelle, y: 325 / echelle }, { x: 742 / echelle, y: 262.5 / echelle }, { x: 742 / echelle, y: 137.5 / echelle }]
			const etoile = [{ x: 350 / echelle, y: 75 / echelle }, { x: 380 / echelle, y: 160 / echelle }, { x: 470 / echelle, y: 160 / echelle }, { x: 400 / echelle, y: 215 / echelle }, { x: 423 / echelle, y: 301 / echelle }, { x: 350 / echelle, y: 250 / echelle }, { x: 277 / echelle, y: 301 / echelle }, { x: 303 / echelle, y: 215 / echelle }, { x: 231 / echelle, y: 161 / echelle }, { x: 321 / echelle, y: 161 / echelle }]
			switch (forme) {
			case 'cercle':
				largeur = 80 / echelle
				objet = new fabric.Circle({ radius: largeur, fill: '#aaaaaa', strokeWidth: 0, left: position, top: position, isShape: true })
				break
			case 'rectangle':
				largeur = 150 / echelle
				hauteur = 100 / echelle
				objet = new fabric.Rect({ width: largeur, height: hauteur, fill: '#aaaaaa', strokeWidth: 0, left: position, top: position, isShape: true })
				break
			case 'triangle':
				largeur = 150 / echelle
				hauteur = 120 / echelle
				objet = new fabric.Triangle({ width: largeur, height: hauteur, fill: '#aaaaaa', strokeWidth: 0, left: position, top: position, isShape: true })
				break
			case 'hexagone':
				largeur = 150 / echelle
				hauteur = 120 / echelle
				objet = new fabric.Polygon(hexagone, { width: largeur, height: hauteur, fill: '#aaaaaa', strokeWidth: 0, left: position, top: position, isShape: true })
				break
			case 'etoile':
				largeur = 150 / echelle
				hauteur = 150 / echelle
				objet = new fabric.Polygon(etoile, { width: largeur, height: hauteur, fill: '#aaaaaa', strokeWidth: 0, left: position, top: position, isShape: true })
				break
			}
			this.canvas.add(objet)
			this.canvas.requestRenderAll()
			this.canvas.setActiveObject(objet)
			this.fermerModale()
			this.ajouterEntreeHistorique()
		},
		afficherFond () {
			this.menuFlottant = false
			this.modale = 'fond'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModaleFond () {
			this.modale = ''
			this.resultats = {}
			this.requete = ''
			this.gererFocus()
		},
		rechercher (page) {
			if (this.requete !== '') {
				const requete = this.requete.replace(/\s+/g, '+')
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						const donnees = JSON.parse(xhr.responseText)
						if (donnees && donnees.total > 0) {
							this.resultats = donnees
							this.$nextTick(function () {
								// eslint-disable-next-line
								new flexImages({ selector: '.resultats', rowHeight: 65 })
							})
						}
					}
				}.bind(this)
				if (page === 1) {
					this.page = page
				}
				xhr.open('GET', 'https://pixabay.com/api/?key=' + this.$parent.$parent.pixabayAPIKey + '&q=' + requete + '&image_type=photo&lang=fr&orientation=horizontal&safesearch=true&per_page=16&page=' + page, true)
				xhr.send()
			}
		},
		modifierPage (type) {
			if (type === 'suivante' && this.page < (this.resultats.total / 16)) {
				this.page++
			} else if (type === 'precedente' && this.page > 1) {
				this.page--
			}
		},
		modifierCouleurFondCanvas (couleur) {
			this.couleurFondCanvas = couleur
			this.canvas.backgroundColor = couleur
			this.canvas.requestRenderAll()
			if (this.latence !== '') {
				clearTimeout(this.latence)
			}
			this.latence = setTimeout(function () {
				this.latence = ''
				this.ajouterEntreeHistorique()
			}.bind(this), 500)
		},
		ajouterFond (fichier, largeur, hauteur) {
			this.chargement = true
			this.transparence = true
			const ratioCanvas = this.canvas.width / this.canvas.height
			const ratioImage = largeur / hauteur
			let top = 0
			let left = 0
			let largeurFinaleImage = 0
			let hauteurFinaleImage = 0
			if (ratioCanvas > ratioImage) {
				largeurFinaleImage = this.canvas.width
				hauteurFinaleImage = this.canvas.width / ratioImage
			} else {
				hauteurFinaleImage = this.canvas.height
				largeurFinaleImage = this.canvas.height * ratioImage
			}
			if (hauteurFinaleImage > this.canvas.height) {
				top = -((hauteurFinaleImage - this.canvas.height) / 2) / (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
			}
			if (largeurFinaleImage > this.canvas.width) {
				left = -((largeurFinaleImage - this.canvas.width) / 2) / (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
			}
			fabric.Image.fromURL(fichier, function (image) {
				this.canvas.setBackgroundImage(image, function () {
					this.redimensionnerCanvas(this.canvas)
					if (ratioCanvas > ratioImage) {
						image.scaleToWidth(this.canvas.getWidth())
					} else {
						image.scaleToHeight(this.canvas.getHeight())
					}
					this.canvas.requestRenderAll()
					this.ajouterEntreeHistorique()
					this.chargement = false
					this.transparence = false
					this.$nextTick(function () {
						this.fermerModaleFond()
					}.bind(this))
				}.bind(this), {
					originX: 'left',
					originY: 'top',
					top: top,
					left: left,
					crossOrigin: 'anonymous'
				})
			}.bind(this), { crossOrigin: 'anonymous' })
		},
		supprimerFond () {
			this.canvas.backgroundColor = '#fff'
			this.couleurFondCanvas = '#fff'
			this.canvas.setBackgroundImage(null)
			this.canvas.requestRenderAll()
			this.ajouterEntreeHistorique()
			this.fermerModale()
		},
		modifierCouleurFond (couleur) {
			this.couleurFond = couleur
			const objet = this.canvas.getActiveObject()
			objet.set('fill', couleur)
			this.canvas.requestRenderAll()
			if (this.latence !== '') {
				clearTimeout(this.latence)
			}
			this.latence = setTimeout(function () {
				this.latence = ''
				this.ajouterEntreeHistorique()
			}.bind(this), 500)
		},
		modifierOpaciteForme (event) {
			const opacite = event.target.value
			this.opaciteForme = opacite
			const objet = this.canvas.getActiveObject()
			objet.set('opacity', opacite / 100)
			this.canvas.requestRenderAll()
			this.ajouterEntreeHistorique()
		},
		afficherTexte () {
			this.menuFlottant = false
			this.modale = 'texte'
			setTimeout(function () {
				document.querySelector('#modale-texte textarea').focus()
			}, 10)
		},
		afficherModifierTexte () {
			const objet = this.canvas.getActiveObject()
			this.texte = objet.get('text')
			this.objetTexteModifie = objet
			this.afficherTexte()
		},
		ajouterTexte () {
			if (this.texte !== '') {
				const taille = 30 / (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
				const position = 20 / (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
				const texte = new fabric.Text(this.texte, {
					left: position,
					top: position,
					fill: '#000000',
					fontSize: taille,
					fontFamily: 'Roboto',
					lineHeight: 1,
					styles: {}
				})
				this.canvas.add(texte)
				this.canvas.requestRenderAll()
				this.canvas.setActiveObject(texte)
				this.ajouterEntreeHistorique()
				this.fermerModaleTexte()
			}
		},
		modifierTexte () {
			if (this.texte !== '') {
				this.objetTexteModifie.set('text', this.texte)
				this.canvas.requestRenderAll()
				this.ajouterEntreeHistorique()
				this.fermerModaleTexte()
			}
		},
		fermerModaleTexte () {
			this.modale = ''
			this.texte = ''
			this.objetTexteModifie = ''
			this.gererFocus()
		},
		modifierCouleurTexte (couleur) {
			this.couleurTexte = couleur
			const objet = this.canvas.getActiveObject()
			objet.set('fill', couleur)
			objet.set('styles', {})
			this.canvas.requestRenderAll()
			this.ajouterEntreeHistorique()
		},
		modifierPoliceTexte (police) {
			const font = new FontFaceObserver(police)
			font.load().then(function () {
				this.policeTexte = police
				const objet = this.canvas.getActiveObject()
				objet.set('fontFamily', police)
				objet.set('styles', {})
				this.canvas.requestRenderAll()
				this.ajouterEntreeHistorique()
			}.bind(this))
		},
		modifierAlignementTexte (alignement) {
			this.alignementTexte = alignement
			const objet = this.canvas.getActiveObject()
			objet.textAlign = alignement
			objet.set('styles', {})
			this.canvas.requestRenderAll()
			this.ajouterEntreeHistorique()
		},
		modifierOmbreTexte () {
			const objet = this.canvas.getActiveObject()
			const ombre = objet.get('shadow')
			if (ombre && ombre.hasOwnProperty('color')) {
				objet.set('shadow', {})
			} else {
				objet.set('shadow', new fabric.Shadow({ color: '#222222', blur: 0.4 }))
			}
			this.canvas.requestRenderAll()
			this.ajouterEntreeHistorique()
		},
		ajouterFichier (fichier, type) {
			if (fichier) {
				this.menuFlottant = false
				this.chargement = true
				this.transparence = true
				const reader = new FileReader()
				reader.readAsDataURL(fichier)
				reader.onloadend = function (e) {
					const img = new Image()
					let image, canvas, ratio, largeur, hauteur
					img.src = e.target.result
					img.onload = function () {
						if (type === 'image') {
							if (img.width > (this.largeurCanvas * this.ratioExport)) {
								canvas = document.createElement('canvas')
								ratio = img.width / img.height
								largeur = this.largeurCanvas * this.ratioExport
								hauteur = (this.largeurCanvas * this.ratioExport) / ratio
								canvas.width = largeur
								canvas.height = hauteur
								canvas.getContext('2d').drawImage(img, 0, 0, largeur, hauteur)
								image = canvas.toDataURL('image/jpeg', 0.85)
							} else {
								image = e.target.result
							}
							this.insererImage(image)
							this.gererFocus()
						} else {
							canvas = document.createElement('canvas')
							ratio = img.width / img.height
							largeur = this.largeurCanvas * this.ratioExport
							hauteur = (this.largeurCanvas * this.ratioExport) / ratio
							if (hauteur < (this.hauteurCanvas * this.ratioExport)) {
								hauteur = this.hauteurCanvas * this.ratioExport
								largeur = (this.hauteurCanvas * this.ratioExport) * ratio
							}
							canvas.width = largeur
							canvas.height = hauteur
							canvas.getContext('2d').drawImage(img, 0, 0, largeur, hauteur)
							image = canvas.toDataURL('image/jpeg', 0.8)
							this.ajouterFond(image, largeur, hauteur)
							this.gererFocus()
						}
					}.bind(this)
				}.bind(this)
			}
		},
		insererImage (fichier) {
			fabric.Image.fromURL(fichier, function (image) {
				this.canvas.add(image)
				const echelle = (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
				image.set({ left: 20 / echelle, top: 20 / echelle, isPicture: true, picturePath: fichier })
				image.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
				image.scaleToHeight(this.rem(15))
				this.canvas.requestRenderAll()
				this.canvas.setActiveObject(image)
				this.ajouterEntreeHistorique()
				this.chargement = false
				this.transparence = false
			}.bind(this))
		},
		appliquerFiltre (type) {
			const objet = this.canvas.getActiveObject()
			if (objet != null && objet.hasOwnProperty('isPicture')) {
				this.filtreImage = type
				let filtre
				switch (type) {
				case 'aucun':
					filtre = ''
					break
				case 'grayscale':
					filtre = new fabric.Image.filters.Grayscale()
					break
				case 'sepia':
					filtre = new fabric.Image.filters.Sepia()
					break
				case 'vintage':
					filtre = new fabric.Image.filters.Vintage()
					break
				case 'technicolor':
					filtre = new fabric.Image.filters.Technicolor()
					break
				case 'polaroid':
					filtre = new fabric.Image.filters.Polaroid()
					break
				case 'kodachrome':
					filtre = new fabric.Image.filters.Kodachrome()
					break
				case 'blackandwhite':
					filtre = new fabric.Image.filters.BlackWhite()
					break
				case 'brownie':
					filtre = new fabric.Image.filters.Brownie()
					break
				}
				objet.filters.length = 0
				objet.filters.push(filtre)
				objet.applyFilters()
				objet.set({ hasEffect: type })
				this.canvas.requestRenderAll()
				this.ajouterEntreeHistorique()
			}
		},
		verifierObjet () {
			const objet = this.canvas.getActiveObject()
			const type = objet.get('type')
			if (type === 'text' || type === 'i-text') {
				this.alignementTexte = objet.textAlign
				this.couleurTexte = objet.fill
				this.policeTexte = objet.fontFamily
				this.objetTexte = true
				this.objetImage = false
				this.objetForme = false
			} else if (type === 'image') {
				this.objetImage = true
				this.objetTexte = false
				this.objetForme = false
				if (objet.hasOwnProperty('hasEffect')) {
					this.filtreImage = objet.hasEffect
				} else {
					this.filtreImage = 'aucun'
				}
			} else if (objet.hasOwnProperty('isShape')) {
				this.objetForme = true
				this.objetTexte = false
				this.objetImage = false
				this.couleurFond = objet.fill
				this.opaciteForme = objet.opacity * 100
			} else {
				this.objetTexte = false
				this.objetImage = false
				this.objetForme = false
			}
		},
		verrouillerObjet () {
			if (!this.objetPasVerrouiller && this.canvas.getActiveObject() !== null) {
				const objet = this.canvas.getActiveObject()
				const verrouille = objet.get('isLocked')
				const type = objet.get('type')
				if (typeof verrouille === 'undefined' || verrouille === false) {
					objet.lockMovementX = true
					objet.lockMovementY = true
					objet.lockScalingX = true
					objet.lockScalingY = true
					objet.lockRotation = true
					objet.set('hoverCursor', 'pointer')
					objet.set('isLocked', true)
					if (type === 'i-text') {
						objet.editable = false
					}
					objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: false, tr: false, bl: false, br: false, mtr: false })
					this.canvas.requestRenderAll()
					this.ajouterEntreeHistorique()
					this.objetVerrouille = true
				} else {
					objet.lockMovementX = false
					objet.lockMovementY = false
					objet.lockScalingX = false
					objet.lockScalingY = false
					objet.lockRotation = false
					objet.set('hoverCursor', 'move')
					objet.set('isLocked', false)
					if (type === 'i-text') {
						objet.editable = true
					}
					objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
					this.canvas.requestRenderAll()
					this.ajouterEntreeHistorique()
					this.objetVerrouille = false
				}
			}
		},
		mettreObjetDevant () {
			if (this.canvas.getActiveObject() !== null) {
				this.canvas.bringForward(this.canvas.getActiveObject())
				this.ajouterEntreeHistorique()
			}
		},
		mettreObjetDerriere () {
			if (this.canvas.getActiveObject() !== null) {
				this.canvas.sendBackwards(this.canvas.getActiveObject())
				this.ajouterEntreeHistorique()
			}
		},
		centrerObjetH () {
			if (!this.objetVerrouille && (!this.groupeObjets || (this.groupeObjets && this.objetsGroupes)) && this.canvas.getActiveObject() !== null) {
				const objet = this.canvas.getActiveObject()
				const image = objet.get('isPicture')
				const largeurCanvas = this.canvas.getWidth()
				let largeurObjet = objet.width * objet.zoomX
				if (image === true) {
					largeurObjet = objet.width * this.canvas.getZoom() * objet.scaleX
					objet.left = ((largeurCanvas / 2) - (largeurObjet / 2)) / this.canvas.getZoom()
				} else {
					objet.left = (((largeurCanvas / 2) - (largeurObjet / 2)) / objet.zoomX) * objet.scaleX
				}
				objet.setCoords()
				this.canvas.calcOffset()
				this.canvas.requestRenderAll()
				this.ajouterEntreeHistorique()
			}
		},
		centrerObjetV () {
			if (!this.objetVerrouille && (!this.groupeObjets || (this.groupeObjets && this.objetsGroupes)) && this.canvas.getActiveObject() !== null) {
				const objet = this.canvas.getActiveObject()
				const image = objet.get('isPicture')
				const hauteurCanvas = this.canvas.getHeight()
				let hauteurObjet = objet.height * objet.zoomY
				if (image === true) {
					hauteurObjet = objet.height * this.canvas.getZoom() * objet.scaleY
					objet.top = ((hauteurCanvas / 2) - (hauteurObjet / 2)) / this.canvas.getZoom()
				} else {
					objet.top = (((hauteurCanvas / 2) - (hauteurObjet / 2)) / objet.zoomY) * objet.scaleY
				}
				objet.setCoords()
				this.canvas.calcOffset()
				this.canvas.requestRenderAll()
				this.ajouterEntreeHistorique()
			}
		},
		grouperObjets () {
			if (this.canvas.getActiveObject() !== null) {
				const objet = this.canvas.getActiveObject()
				objet.toGroup()
				objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
				this.groupeObjets = true
				this.objetsGroupes = true
				this.objetPasVerrouiller = false
				this.ajouterEntreeHistorique()
			}
		},
		degrouperObjets () {
			const objet = this.canvas.getActiveObject()
			const verrouille = objet.get('isLocked')
			if (objet !== null && (typeof verrouille === 'undefined' || verrouille === false)) {
				objet.toActiveSelection()
				this.canvas.discardActiveObject()
				this.canvas.requestRenderAll()
				this.groupeObjets = false
				this.objetsGroupes = true
				this.ajouterEntreeHistorique()
			}
		},
		selectionnerObjets () {
			const objet = this.canvas.getActiveObject()
			if (objet.type === 'activeSelection') {
				this.objetPasVerrouiller = true
				this.groupeObjets = true
				objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
			} else {
				const verrouille = objet.get('isLocked')
				const svg = objet.get('isSVG')
				if (objet.type === 'group' && !svg) {
					this.objetsGroupes = true
					this.objetPasVerrouiller = false
					this.groupeObjets = true
				} else {
					this.objetPasVerrouiller = false
					this.groupeObjets = false
				}
				if (verrouille) {
					this.objetVerrouille = true
					objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: false, tr: false, bl: false, br: false, mtr: false })
				} else {
					this.objetVerrouille = false
					if (objet.hasOwnProperty('isShape') || objet.hasOwnProperty('isSVG')) {
						objet.setControlsVisibility({ mt: true, mb: true, ml: true, mr: true, tl: true, tr: true, bl: true, br: true, mtr: true })
					} else {
						objet.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
					}
				}
			}
			this.selectionObjets = true
		},
		deselectionnerObjets () {
			this.objetVerrouille = false
			this.objetsGroupes = false
			this.objetPasVerrouiller = false
			this.groupeObjets = false
			this.selectionObjets = false
		},
		copierObjet () {
			if (!this.objetVerrouille) {
				this.objetCopie = this.canvas.getActiveObject()
			}
		},
		collerObjet () {
			const echelle = (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
			const selection = this.objetCopie
			if (selection !== '' && selection.type === 'activeSelection') {
				const objets = selection.getObjects()
				this.canvas.discardActiveObject()
				const groupe = new fabric.Group()
				objets.forEach(function (objet) {
					if (!objet.isEditing) {
						objet.clone(function (clone) {
							if (objet.hasOwnProperty('isShape')) {
								clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isShape: true })
							} else if (objet.hasOwnProperty('isSVG')) {
								clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isSVG: true })
							} else if (objet.hasOwnProperty('isPicture') && objet.hasOwnProperty('hasEffect')) {
								clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isPicture: true, hasEffect: objet.hasEffect })
							} else if (objet.hasOwnProperty('isPicture')) {
								clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isPicture: true })
							} else {
								clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle) })
							}
							groupe.addWithUpdate(clone)
						}.bind(this))
					}
				}.bind(this))
				this.canvas.add(groupe)
				groupe.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
				this.canvas.requestRenderAll()
				this.canvas.setActiveObject(groupe)
				this.groupeObjets = true
				this.objetsGroupes = true
				this.objetPasVerrouiller = false
				this.ajouterEntreeHistorique()
			} else if (selection !== '' && !selection.isEditing) {
				selection.clone(function (clone) {
					this.canvas.add(clone)
					if (selection.hasOwnProperty('isShape')) {
						clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isShape: true })
					} else if (selection.hasOwnProperty('isSVG')) {
						clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isSVG: true })
					} else if (selection.hasOwnProperty('isPicture') && selection.hasOwnProperty('hasEffect')) {
						clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isPicture: true, hasEffect: selection.hasEffect })
					} else if (selection.hasOwnProperty('isPicture')) {
						clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isPicture: true })
					} else {
						clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle) })
					}
					this.canvas.requestRenderAll()
					this.canvas.setActiveObject(clone)
					this.ajouterEntreeHistorique()
				}.bind(this))
			}
		},
		dupliquerObjet () {
			if (!this.objetVerrouille) {
				const selection = this.canvas.getActiveObject()
				const echelle = (this.canvas.getZoom() * (this.largeurCanvas / this.canvas.getWidth()))
				if (selection && selection.type === 'activeSelection') {
					const objets = selection.getObjects()
					this.canvas.discardActiveObject()
					const groupe = new fabric.Group()
					objets.forEach(function (objet) {
						if (!objet.isEditing) {
							objet.clone(function (clone) {
								if (objet.hasOwnProperty('isShape')) {
									clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isShape: true })
								} else if (objet.hasOwnProperty('isSVG')) {
									clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isSVG: true })
								} else if (objet.hasOwnProperty('isPicture') && objet.hasOwnProperty('hasEffect')) {
									clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isPicture: true, hasEffect: objet.hasEffect })
								} else if (objet.hasOwnProperty('isPicture')) {
									clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle), isPicture: true })
								} else {
									clone.set({ left: objet.left + (10 / echelle), top: objet.top + (10 / echelle) })
								}
								groupe.addWithUpdate(clone)
							}.bind(this))
						}
					}.bind(this))
					this.canvas.add(groupe)
					groupe.setControlsVisibility({ mt: false, mb: false, ml: false, mr: false, tl: true, tr: true, bl: true, br: true, mtr: true })
					this.canvas.requestRenderAll()
					this.canvas.setActiveObject(groupe)
					this.groupeObjets = true
					this.objetsGroupes = true
					this.objetPasVerrouiller = false
					this.ajouterEntreeHistorique()
				} else if (selection && !selection.isEditing) {
					selection.clone(function (clone) {
						this.canvas.add(clone)
						if (selection.hasOwnProperty('isShape')) {
							clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isShape: true })
						} else if (selection.hasOwnProperty('isSVG')) {
							clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isSVG: true })
						} else if (selection.hasOwnProperty('isPicture') && selection.hasOwnProperty('hasEffect')) {
							clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isPicture: true, hasEffect: selection.hasEffect })
						} else if (selection.hasOwnProperty('isPicture')) {
							clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle), isPicture: true })
						} else {
							clone.set({ left: selection.left + (10 / echelle), top: selection.top + (10 / echelle) })
						}
						this.canvas.requestRenderAll()
						this.canvas.setActiveObject(clone)
						this.ajouterEntreeHistorique()
					}.bind(this))
				}
			}
		},
		supprimerObjet () {
			if (!this.objetVerrouille) {
				const selection = this.canvas.getActiveObject()
				if (selection && selection.type === 'activeSelection') {
					const objets = selection.getObjects()
					this.canvas.discardActiveObject()
					objets.forEach(function (objet) {
						if (!objet.isEditing) {
							this.canvas.remove(objet)
						}
					}.bind(this))
				} else {
					if (!selection.isEditing) {
						this.canvas.remove(selection)
					}
				}
			}
		},
		deplacerObjet (touche, objet) {
			switch (touche) {
			case 'ArrowLeft':
				objet.left = objet.left - 1
				break
			case 'ArrowUp':
				objet.top = objet.top - 1
				break
			case 'ArrowRight':
				objet.left = objet.left + 1
				break
			case 'ArrowDown':
				objet.top = objet.top + 1
				break
			}
			this.ajouterEntreeHistorique()
		},
		afficherReinitialiserCanvas () {
			if (!this.vide) {
				this.modale = 'confirmation'
				this.$nextTick(function () {
					document.querySelector('.modale .bouton').focus()
				})
			}
		},
		reinitialiserCanvas () {
			this.fermerModale()
			this.chargement = true
			setTimeout(function () {
				this.canvas.clear()
				this.couleurFondCanvas = '#ffffff'
				this.vide = true
				this.historiqueDefaire = []
				this.historiqueRefaire = []
				this.gestionHistorique = false
				this.canvas.backgroundColor = this.couleurFondCanvas
				this.ajouterEntreeHistorique()
				this.redimensionner()
				this.chargement = false
			}.bind(this), 200)
		},
		telechargerCarte () {
			if (!this.vide) {
				const largeur = this.canvas.getWidth()
				this.zoom(this.largeurCanvas * this.ratioExport)
				const png = this.canvas.toDataURL('png')
				this.zoom(largeur)
				const id = 'carte_' + new Date().getTime()
				saveAs(png, id + '.png')
			}
		},
		importer (event) {
			const fichier = event.target.files[0]
			if (fichier === null || fichier.length === 0) {
				document.querySelector('#importer-donnees').value = ''
				return false
			} else {
				this.chargement = true
				this.transparence = true
				const reader = new FileReader()
				reader.onload = function (e) {
					const donnees = JSON.parse(e.target.result)
					const format = donnees.format
					if (format === 'paysage') {
						this.largeurCanvas = 1200
					} else if (format === 'carre') {
						this.largeurCanvas = 675
					} else if (format === 'portrait') {
						this.largeurCanvas = 380
					}
					this.hauteurCanvas = 675
					this.format = format
					this.canvas.loadFromJSON(donnees.canvas, function () {
						this.couleurFondCanvas = this.canvas.backgroundColor
						this.redimensionnerCanvas(this.canvas)
						setTimeout(function () {
							this.chargement = false
							this.transparence = false
							this.ajouterEntreeHistorique()
						}.bind(this), 200)
					}.bind(this))
					this.$nextTick(function () {
						this.fermerModale()
					}.bind(this))
				}.bind(this)
				reader.readAsText(fichier)
				document.querySelector('#importer-donnees').value = ''
			}
		},
		exporter () {
			if (!this.vide) {
				let donnees = {}
				donnees.format = this.format
				donnees.canvas = this.canvas.toDatalessJSON(['lockMovementX', 'lockMovementY', 'lockScalingX', 'lockScalingY', 'lockRotation', 'hoverCursor', 'isLocked', '_controlsVisibility', 'strokeUniform', 'isPicture', 'isSVG', 'picturePath', 'isShape', 'hasEffect'])
				donnees = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(donnees))
				const id = 'carte_' + new Date().getTime()
				saveAs(donnees, id + '.dgc')
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.modale === 'texte') {
				this.fermerModaleTexte()
			} else if (event.key === 'Escape' && this.modale === 'fond') {
				this.fermerModaleFond()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.fermerModale()
			} else if (event.ctrlKey && event.key === 'z' && this.modale === '') {
				event.preventDefault()
				this.defaire()
			} else if (event.ctrlKey && event.key === 'y' && this.modale === '') {
				event.preventDefault()
				this.refaire()
			} else if (event.ctrlKey && event.key === 'd' && this.modale === '') {
				event.preventDefault()
				this.dupliquerObjet()
			} else if (event.ctrlKey && event.key === 'c' && this.modale === '') {
				event.preventDefault()
				this.copierObjet()
			} else if (event.ctrlKey && event.key === 'v' && this.modale === '') {
				event.preventDefault()
				this.collerObjet()
			} else if (event.key === 'Delete' && this.modale === '') {
				this.supprimerObjet()
			} else if (event.target.tagName.toLowerCase() !== 'input' && event.target.tagName.toLowerCase() !== 'textarea' && event.target.tagName.toLowerCase() !== 'select' && (event.key === 'ArrowLeft' || event.key === 'ArrowRight' || event.key === 'ArrowUp' || event.key === 'ArrowDown')) {
				if (!this.objetVerrouille && this.modale === '') {
					event.preventDefault()
					const selection = this.canvas.getActiveObject()
					if (selection && !selection.isEditing) {
						this.deplacerObjet(event.key, selection)
						selection.setCoords()
						this.canvas.requestRenderAll()
					}
					if (selection && selection.type === 'activeSelection') {
						const objets = selection.getObjects()
						objets.forEach(function (objet) {
							if (!objet.isEditing) {
								this.deplacerObjet(objet, selection)
								objet.setCoords()
								this.canvas.requestRenderAll()
							}
						}.bind(this))
					}
				}
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.$nextTick(function () {
					this.elementPrecedent.focus()
					this.elementPrecedent = null
				}.bind(this))
			}
		},
		defaire () {
			this.gestionHistorique = true
			const donnees = this.historiqueDefaire.pop()
			if (donnees && !this.historiqueRefaire.includes(donnees)) {
				this.historiqueRefaire.push(donnees)
				this.chargement = true
				this.transparence = true
				this.canvas.loadFromJSON(donnees, function () {
					this.redimensionnerCanvas(this.canvas)
					this.canvas.requestRenderAll()
					this.$nextTick(function () {
						this.chargement = false
						this.transparence = false
						this.gestionHistorique = false
					}.bind(this))
				}.bind(this))
			}
		},
		refaire () {
			this.gestionHistorique = true
			const donnees = this.historiqueRefaire.pop()
			if (donnees && !this.historiqueDefaire.includes(donnees)) {
				this.historiqueDefaire.push(donnees)
				this.chargement = true
				this.transparence = true
				this.canvas.loadFromJSON(donnees, function () {
					this.redimensionnerCanvas(this.canvas)
					this.canvas.requestRenderAll()
					this.$nextTick(function () {
						this.chargement = false
						this.transparence = false
						this.gestionHistorique = false
					}.bind(this))
				}.bind(this))
			}
		},
		ajouterEntreeHistorique () {
			const donnees = this.canvas.toDatalessJSON(['lockMovementX', 'lockMovementY', 'lockScalingX', 'lockScalingY', 'lockRotation', 'hoverCursor', 'isLocked', '_controlsVisibility', 'strokeUniform', 'isPicture', 'isSVG', 'picturePath', 'isShape', 'hasEffect'])
			if (this.gestionHistorique === false && !this.historiqueDefaire.includes(donnees)) {
				this.historiqueDefaire.push(donnees)
			}
		},
		redimensionner () {
			this.chargement = true
			this.$nextTick(function () {
				setTimeout(function() {
					this.redimensionnerCanvas(this.canvas)
					this.chargement = false
				}.bind(this), 200)
			}.bind(this))
		},
		redimensionnerCanvas (canvas) {
			const largeur = this.recupererDimensionsCanvas().largeur
			const hauteur = this.recupererDimensionsCanvas().hauteur
			const echelle = largeur / canvas.getWidth()
			if (echelle !== 1) {
				canvas.setDimensions({ 'width': largeur, 'height': hauteur })
				canvas.setZoom(canvas.getZoom() * echelle)
				canvas.calcOffset()
				canvas.requestRenderAll()
			}
		},
		recupererDimensionsCanvas () {
			const hauteur = window.innerHeight
			let ch = hauteur - this.rem(12)
			let cw = ch * (this.largeurCanvas / this.hauteurCanvas)
			const largeur = document.querySelector('#conteneur-canvas').offsetWidth
			if (cw > largeur) {
				cw = largeur
				ch = cw / (this.largeurCanvas / this.hauteurCanvas)
			}
			return { largeur: cw, hauteur: ch }
		},
		zoom (largeur) {
			const echelle = largeur / this.canvas.getWidth()
			const hauteur = echelle * this.canvas.getHeight()
			if (this.canvas.hasOwnProperty('backgroundImage') && this.canvas.backgroundImage !== null) {
				this.canvas.backgroundImage.left = this.canvas.backgroundImage.left * echelle
				this.canvas.backgroundImage.top = this.canvas.backgroundImage.top * echelle
				this.canvas.backgroundImage.scaleX = this.canvas.backgroundImage.scaleX * echelle
				this.canvas.backgroundImage.scaleY = this.canvas.backgroundImage.scaleY * echelle
			}
			this.canvas.setDimensions({ 'width': largeur, 'height': hauteur })
			this.canvas.calcOffset()
			const objets = this.canvas.getObjects()
			for (let i in objets) {
				const scaleX = objets[i].scaleX
				const scaleY = objets[i].scaleY
				const left = objets[i].left
				const top = objets[i].top
				objets[i].scaleX = scaleX * echelle
				objets[i].scaleY = scaleY * echelle
				objets[i].left = left * echelle
				objets[i].top = top * echelle
				objets[i].setCoords()
			}
			this.canvas.requestRenderAll()
		},
		rem (valeur) {
			const taille = window.getComputedStyle(document.querySelector('html'), null).getPropertyValue('font-size')
			return typeof valeur !== 'undefined' && valeur > 0 ? parseFloat(taille) * valeur : parseFloat(taille)
		}
	}
}
</script>
