<template>
	<main>
		<router-view />
	</main>
</template>

<script>
export default {
	name: 'App',
	data () {
		return {
			notification: '',
			langues: ['fr', 'en', 'it'],
			langue: 'fr',
			pixabayAPIKey: ''
		}
	},
	watch: {
		notification: function (notification) {
			if (notification !== '') {
				const element = document.createElement('div')
				const id = 'notification_' + Date.now().toString(36) + Math.random().toString(36).substring(2)
				element.id = id
				element.textContent = notification
				element.classList.add('notification')
				document.querySelector('#app').appendChild(element)
				this.notification = ''
				setTimeout(function () {
					element.parentNode.removeChild(element)
				}, 2000)
			}
		}
	},
	created () {
		if (import.meta.env.VITE_PIXABAY_API) {
			this.pixabayAPIKey = import.meta.env.VITE_PIXABAY_API
		}
	}
}
</script>

<style src="destyle.css/destyle.css"></style>
<style src="@/assets/css/style.css"></style>
